<!DOCTYPE html>
<head>
       <title>NewBook</title>
       <link rel="stylesheet" href="./CSS/signUp.css">
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
       <link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&display=swap" rel="stylesheet">
       <meta name="generator" content="Bootply" />
       <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		  <!-- <link href="css/bootstrap.min.css" rel="stylesheet"> -->
	  	<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
      
</head>
<body>
    

   <nav class="navbar navbar-expand-md navbar-custom bg-dark navbar-dark">
    <a href="/" class="navbar-brand"></a>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
        
            <%for(i=0;i<nav.length;i++){%>
            <li class="nav-item">
               <%if (nav[i].name=='Home'){%>
                   <a class="nav-link" style="background-color:peachpuff; color: maroon;" href="<%=nav[i].link%>"><%=nav[i].name%></a>
               <%}
               else{%>
                   <a class="nav-link" href="<%=nav[i].link%>"><%=nav[i].name%></a>
              <% } %>                    
            </li>
           <%}%>
        </ul>
    </div>
   </nav>
</nav>
   </nav>
   

   
    <div class="container">
      <div class="heading">
          <h1 style="margin-left: 10%;">Add New Author</h1>
      </div>
      <form action="/index" onsubmit="return checkInput()" class="form" id="form">
          <div class="form-control" >
              <label >Name of Author</label> 
              <input type="text" placeholder="Enter Author name" id="name" name="Uname" >
              <i class="fa fa-check-square"></i>
             <i class="fa fa-exclamation-triangle"></i>
              <small>Error message</small>
          </div>
          
 
          <div class="form-control" >
             <label >Famous Work</label> 
             <input type="text" placeholder="Enter famous books" id="email" >
             <i class="fa fa-check-square"></i>
             <i class="fa fa-exclamation-triangle"></i>
             <small>Error message</small>
         </div>
         
 
         <div class="form-control">
             <label >About</label> 
             <input type="text" placeholder="Something about author" id="username" >
             <i class="fa fa-check-square"></i>
             <i class="fa fa-exclamation-triangle"></i>
             <small>Error message</small>
         </div>

         <div class="form-control">
          <label >Add Picture</label> 
          <!-- <input type="image" accept="image/*" placeholder="" id="img" > -->
          <input class="form-control" type="file" id="authorpic" name="authorpic" placeholder="author Pic" accept="image/*" required/>
          <!-- <i class="fa fa-check-square"></i>
          <i class="fa fa-exclamation-triangle"></i> -->
          <small>Error message</small>
         </div>
         
         
         <button class="button" type="submit">Submit</button>
      </form>
     </div>

     <!-- footer starts here -->
     <footer style="margin-bottom: -18vh; background-color: white;">
      <div class="content container-fluid"  ><br>
        <div class="row">
          <div class="col-sm-5">
            <p > &copy;All Rights Reserved</p>
          </div> 

          <div class="col-md-3">
            <nav class="navbar navbar-default" role="navigation">
                <a href="#" target="_blank"><span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-facebook fa-stack-1x fa-inverse "></i>
                </span></a>
                <a href="#" target="_blank"><span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x "></i>
                  <i class="fa fa-twitter fa-stack-1x fa-inverse "></i>
                </span></a>
                <a href="#" target="_blank"><span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x "></i>
                  <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                </span></a>
                <a href="#" target="_blank"><span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x "></i>
                  <i class="fa fa-google-plus fa-stack-1x fa-inverse "></i>
                </span></a>
                <a href="#" target="_blank"><span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                </span></a>
              </div>
              <div class="col-sm-3">
              
            </nav>
          </div>
        </div> 
      </div> 
      </footer>
      <!-- /footer -->
    
  <script src="./js/addBook.js"></script>
</body>
</html>